* {
  box-sizing: border-box;
}

#main {
    display: grid;
    margin: 0 auto;
    padding: 60px;
    font-family: Domine, serif;
    grid-gap: 20px;
    grid-template-areas: "header header header header"
        "links image image info"
        "content content content content"
}

.header {
    grid-area: header;
    background-color: floralwhite;
    border-radius: 10px;
    padding: 20px;
}

.links {
    grid-area: links;
    background-color: floralwhite;
    border-radius: 10px;
    padding: 20px;
}

.image {
    grid-area: image;
    background-color: floralwhite;
    border-radius: 10px;
    padding: 20px;
}

.image #image {
    border-radius: 10px;
    width: 100%;
}
.content {
    grid-area: content;
    padding: 20px;
    background-color: floralwhite;
    border-radius: 10px;
    background-image: url(../images/davidbg2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    font-size: 20px;
    line-height: 1.4;
}

.info {
    grid-area: info;
    padding: 20px;
    background-color: floralwhite;
    border-radius: 10px;
    font-size: 26px;
    line-height: 1.2;
    text-shadow: 1px white;
}
#title {
    font-size: 50px;
    text-align: center;
}

@media (max-width: 1000px) {
  #main  {
    grid-template-areas: 
      'header header header' 
      'links links links' 
      'image image image' 
      'info info info' 
      'content content content';
  }
}

ul {
    list-style-type: circle;
    border-left: 5px solid crimson;
}

a {
    font-size: 16px;
    line-height: 2;
    text-decoration: none;
    
}

li {
    line-height: 2;
}