#main {
    display: grid;
    margin: 0 auto;
    padding: 60px;
    font-family: 'Scope One', serif;
    grid-gap: 20px;
    grid-template-areas: "header header header header header"
        "links image image image info"
        "content content content content content"
}

.header {
    grid-area: header;
    background-color: floralwhite;
    border-radius: 10px;
    padding: 20px;
}


.links {
    grid-area: links;
    background-color: floralwhite;
    border-radius: 10px;
    padding: 10px 40px 40px 40px;
}

.image {
    grid-area: image;
    background-color: floralwhite;
    border-radius: 10px;
    padding: 40px;
}

.image #image {
    border-radius: 10px;
    max-width: 100%; 
    display: block; 
    height: auto;
    margin: 0 auto;
}
.content {
    grid-area: content;
    padding: 20px;
    background-color: floralwhite;
    border-radius: 10px;
    background-image: url('https://i.ibb.co/k0pR6GT/davidbg3.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    font-size: 20px;
    line-height: 1.4;
}

.info {
    grid-area: info;
    padding: 40px;
    background-color: floralwhite;
    border-radius: 10px;
    font-size: 24px;
    line-height: 1.2;
    text-align: justify;

}
#title {
    font-size: 50px;
    text-align: center;
}

@media (max-width: 1000px) {
  #main  {
    grid-template-areas: 
      'header header header' 
      'links links links' 
      'image image image' 
      'info info info' 
      'content content content';
  }
}

ul {
    list-style-type: circle;
    border-left: 5px solid crimson;
}

a {
    font-size: 20px;
    line-height: 2;
    text-decoration: none;
}

h1 {
    color: black;
    text-shadow: 1px 1px 1px crimson;
}

.info a {
    font-size: 24px;
    line-height: 1;
}

li {
    line-height: 2;
}

#img-caption {
    text-align: center;
}